.chat-panel-block {
    height:315px;
}

.chat-panel-body {
    overflow-y: scroll;
    height: 300px;
    margin: 5px;
}

.message-body-admin {
    background: #fffdec;
}

.message-body-user {
    background: #eeffea;
}

.message-body-new {
    background: #fff9c4;
    border: 2px solid #ffc491;
}